.App{
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
  

}
.App h1{
  font-size: 30px;
}
.App input{
  height: 50px;
  

}


.star{
  margin: 10px;
  font-size: 70px;
  
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  size: 10px;
  
}


.on{
  color:yellow;
}

.off{
color: gray;
}
